@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");
body {
  background-color: #eaeaea;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 24px;
  color: black;
  font-weight: 700;
  margin: 0;
  padding: 39px 50px 0 50px;
  font-family: "Roboto", sans-serif;
}

h1:hover {
  cursor: default;
}

h2 {
  font-size: 24px;
  color: black;
  font-weight: 700;
  padding: 0 0 26px 20px;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

h3 {
  font-size: 18px;
  color: black;
  font-weight: 700;
  margin: 0;
  padding-bottom: 5px;
  font-family: "Roboto", sans-serif;
}

p {
  margin: 0;
}

/**header**/
.top-bar {
  position: relative;
  background-color: white;
  width: 100%;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-bar__img {
  display: block;
  height: 30px;
  width: 162px;
}

/**location**/
.location {
  width: 100%;
  height: 50px;
  background-color: #eaeaea;
  display: flex;
  gap: 17px;
  justify-content: center;
  align-items: center;
}

.location i {
  color: #353535;
}

.location__input {
  padding: 0;
  width: 110px;
  height: 100%;
  border: none;
  background-color: transparent;
  font-size: 16px;
  color: #353535;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

/**reservation**/
.reservation {
  background-color: #f6f6f6;
  text-align: center;
  padding-bottom: 57px;
}

.reservation p {
  font-size: 16px;
  color: #353535;
  font-weight: 300;
  padding: 0 30px 29px 30px;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.reservation p:hover {
  cursor: default;
}

/**button**/
.button {
  width: 218px;
  height: 50px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: white;
  font-weight: 500;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

/**fonction**/
.fonction {
  background-color: white;
  padding: 48px 0 60px 0;
}

.fonction .container-fonc {
  padding: 0 20px 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.fonction .choice {
  position: relative;
  padding-left: 12px;
  width: 95%;
}

.fonction .choice:hover {
  cursor: default;
}

.fonction .choice__number {
  display: inline-block;
  margin: 0px;
  position: absolute;
  left: 0px;
  top: 24px;
  background-color: #9356DC;
  height: 24px;
  width: 24px;
  line-height: 26px;
  text-align: center;
  border-radius: 24px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #f6f6f6;
  font-weight: 500;
}

.fonction .choice__bloc {
  height: 72px;
  background-color: #f6f6f6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  padding-left: 33px;
  display: flex;
  align-items: center;
  gap: 27px;
}

.fonction .choice__bloc--purple {
  color: #9356dc;
}

.fonction .choice__bloc--grey {
  color: #7e7e7e;
}

.fonction .choice__bloc p {
  margin: 0;
  font-size: 16px;
  color: black;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

/**restaurant**/
.restaurants {
  padding: 54px 0 66px 0;
  width: 100%;
}

.restaurants .rest-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}

.restaurants .rest-container .hide {
  display: none;
}

.restaurants .rest-container__link {
  display: block;
  width: 90%;
  height: 251px;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  text-decoration: none;
}

.restaurants .rest-container__tag {
  border-radius: 3px;
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #99e2d0;
  font-size: 14px;
  color: #008766;
  font-weight: 500;
  padding: 7px 9px 7px 9px;
  font-family: "Roboto", sans-serif;
}

.restaurants .rest-container__text {
  display: flex;
  height: 72px;
  padding: 0 25px 0 13px;
  font-size: 17px;
  color: black;
  font-weight: 300;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.restaurants .rest-container__img {
  width: 100%;
  height: 174px;
  -o-object-fit: cover;
  object-fit: cover;
}

/**footer**/
footer {
  background-color: #353535;
  padding: 22px 25px 22px 25px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

footer .footer__logo {
  font-size: 18px;
  font-weight: 400;
  color: white;
  font-family: Shrikhand;
}

footer .footer__container {
  display: flex;
  flex-direction: column;
  gap: 7px;
  font-size: 16px;
  color: white;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

footer .footer__container a {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: white;
  font-weight: 400;
  text-decoration: none;
}

footer .footer__container .icon-text {
  display: flex;
  align-items: center;
  gap: 11px;
}

footer .footer__container .icon-text a {
  font-weight: 500;
}

/* Small devices (phones, less than 768px) */
/* Medium devices (tablets, less/equal than 1024px) */

/*# sourceMappingURL=accueil.css.map */
